/*div{
    color:red;
}

#blue-color{
    color: blue;
    font-size: 30px;
}

p{
    color: blueviolet;
 }
.para{
    color: brown;
    border: 8px solid aquamarine ;
}

.abc, .xyz{
    padding: 16px;
    border: 1px solid;
    margin:16px;
}
.xyz{
    color: blue;
}*/